#colorSelection {
    display: none;
    height: 100%;
    text-align: top;
    vertical-align: top;
}

#spriteColorMode {
    width: 100%;
}

#spriteColor {
    width: 17%;
    height: 100%;
}

#colors {
    width: 6em;
    height: 100%;
}


#editCanvas {
    float: left;
    padding-right: 1em;
}

#spriteCanvas {
    padding-left: 2em;
    vertical-align: top;
}

#buttonarea {
    padding-bottom: 0.5em;
}

#first {
    color: #1e12d1;
}

#second {
    color: #ff0000;
}   

#third {
    color: #008000;
}

#info {
    padding-left: 20em;
    margin-top: -1em;
    padding-bottom: 0.5em;
}