.mainpage {
    margin-top: 5em;
    margin-left: 5em;
    text-align:left;
}

#centerObj {
    margin: auto;
}

.emojiPreview {
    
    text-align: top;
}

.emoji-item {
    text-align: center;
    font-size: small;
}
.emoji-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

#button-group {
    margin-left: 4rem;
    text-align: left;
}

.alert {
    display: inline-block;
    width: 55%
}

.my-alerts {
    text-align: center;
}