.mainpage {
    margin-top: 5em;
    margin-left: 5em;
    text-align:left;
}

#centerObj {
    margin: auto;
}

.emojiPreview {    
    text-align: top;
}

.emoji-item {
    text-align: center;
    font-size: small;
}
.emoji-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

#my-buttons {
    display: block;
    text-align: left;
}

#button-group {
    text-align: center;
}

.alert {
    display: inline-block;
    width: 100%;
}

.my-alerts {
    text-align: center;
}

.drawing-area {
    display: inline-flex;
    margin: auto;
}


.my-prompt {
 position: fixed;
 inset: 0;               /* top:0; right:0; bottom:0; left:0; */
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 2000;
}
.my-prompt-content {
 border: 1px solid #fff;
 width: 500px;
 max-width: calc(100% - 2rem);
 background-color: #fff;
 border-radius: 15px;
 padding: 1rem 1.5rem;
 box-shadow: 0 10px 30px rgba(0,0,0,0.3);
 z-index: 1500;
}

.exit-icon {
 text-align: right;
 cursor: pointer;
 font-size: 20px;
}

#closeIcon {
    font-size: 20px;
}


.my-ok-prompt {
 position: fixed;
 inset: 0;               /* top:0; right:0; bottom:0; left:0; */
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 2000;
}
.my-ok-prompt-content {
 border: 1px solid #fff;
 width: 500px;
 max-width: calc(100% - 2rem);
 background-color: #fff;
 border-radius: 15px;
 padding: 1rem 1.5rem;
 box-shadow: 0 10px 30px rgba(0,0,0,0.3);
 z-index: 1500;
}
